@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800&family=JetBrains+Mono:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Fira Code", "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --color-slate-950: #172234;
  --color-slate-900: #212F45;
  --color-slate-800: #2B3D59;
  --animate-spin-slow: spin 20s linear infinite;
}

@layer base {
  body {
    background-color: var(--color-slate-950);
    color: #f8fafc;
    font-family: var(--font-sans);
  }
}

/* Custom fade scrollbars for high fidelity */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0B131E;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f1f5f9;
}
